[Unit]
Description=watchmen
After=network.target
Wants=network.target


[Service]
Type=forking
WorkingDirectory=/opt/as/apps
ExecStart=/opt/as/sunjre/bin/java -jar watchmen.jar watchmen.json FORKING


[Install]
WantedBy=multi-user.target
